@model VPA2.Models.Documents

@{
    ViewBag.Title = "Documents";
}

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Success</h3>

@using (Html.BeginForm("Documents", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{


    <div class="form-horizontal">
        <h4>Upload Documents</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <label for="file" class="col-md-2">Filename:</label>
            <input type="file" name="file" />
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Upload" class="btn btn-default" />
            </div>
        </div>
    </div>
}