@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Venal Penal Action</h1>
    <p class="lead">Your super secretive, discreet criminal defense attorneys</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2><span class="big">V</span>eteran attorneys</h2>
        <p>Our are specialiced in a broad variety of fields and each case is delegated to a capable team lead by a senior with lobgtime experience.</p>
    </div>
    <div class="col-md-4">
        <h2><span class="big">P</span>rivacy first</h2>
        <p>
            Your data privacy and security is one of our first concerns. We use a proven system of secure communication and keep all your data state of the art encrypted.
            All of our emplyees are continously being schooled in opsec by our IT-security experts.
        </p>
    </div>

    <div class="col-md-4">
        <h2><span class="big">A</span>rbitrary assumptions</h2>
        <p>Arbotrary assumption of your innocence meets thorough assesment of the realities. We do not only keep your data safe like it's 1984, we are also unbeaten masters of Doublethink.</p>
    </div>
</div>